			<div class="large-11 medium-11 large-centered medium-centered columns panel" style="padding:0;">
			                <div class="row" style="background-color:#d1d1d1; margin:0;">
                                        	<div class="large-2 medium-2 columns">
							<i class="fi-die-six" style="font-size:20pt; padding:15 5 15 5;"></i>
							<i class="fi-key" style="font-size:20pt;padding:15 5 15 5;"></i>
						</div>
						<div class="large-7 medium-10 small-12 columns small-text-center large-text-left">                        
                                         		<h4 id="property" style="padding-top:5px;">The Heights of Slippery Rock</h4>                                                             
                                        	</div>  
                                       		<div class="large-3 show-for-large-up small-12 columns text-center" style="font-size:25;">                     
                                        		<i style="color:yellow;" class="fi-star"></i>
                                             		<i style="color:white;" class="fi-star"></i>
                                              	 	<i style="color:white;" class="fi-star"></i>
                                               		<i style="color:white;" class="fi-star"></i>
                                               		<i style="color:white;" class="fi-star"></i>
                                        	</div>
                                	</div>          
                                <div class="row collapse" style="margin:0;">
                                	<div id="mapC" class="large-9 medium-6 columns" style="padding:0;" >
								<a id="map" class="th"><img style="" src="https://maps.googleapis.com/maps/api/staticmap?center=100+Woodbridge+Drive,Slippery+Rock,PA,16057&zoom=12&size=265x200&markers=color:blue "></a>	
								<a id="pic1" class="th"><img style="" src="http://placehold.it/192x192 "></a>	
								<a id="pic2" class="th"><img style="" src="http://placehold.it/192x192 "></a>	
								<a id="pic3" class="th"><img style="" src="http://placehold.it/192x192 "></a>	
								<a id="pic4" class="th"><img style="" src="http://placehold.it/192x192 "></a>
									
								<table class="right" style="margin:auto;">
                                                               		<tr>
                                                                       		<td class="base-table">Cats</td>
                                                                        	<td id="cat" class="base-table"></td>
                                                                        	<td class="base-table">Dogs</td>
                                                                        	<td id="dog" class="base-table"></td>
                                                                	</tr>
                                                                	<tr>
                                                                        	<td class="base-table">Cable / Internet</td>
                                                                        	<td id="cable" class="base-table"></td>
                                                                        	<td class="base-table">FIOS</td>
                                                                        	<td id="fios" class="base-table"></td>
                                                                	</tr>
                                                                	<tr>
                                                                        	<td class="base-table">Onsite Laundry</td>
                                                                        	<td id="onsite" class="base-table"></td>
                                                                        	<td class="base-table">Parking</td>
                                                                        	<td id="parking" class="base-table"></td>
                                                                	</tr>
                                                                	<tr>
                                                                        	<td class="base-table">Furnished</td>
                                                                        	<td id="furnish" class="base-table"></td>
                                                                        	<td class="base-table">Security</td>
                                                                        	<td id="security" class="base-table"></td>
                                                                	</tr>
                                                                	<tr>
                                                                        	<td class="base-table">Washer / Dryer</td>
                                                                        	<td id="washer" class="base-table"></td>
                                                                        	<td class="base-table">Storage</td>
                                                                        	<td id="storage" class="base-table"></td>
                                                                	</tr>
                                                		</table>
                                	</div>    
                                       	<div id="priceC" class="large-3 columns" style="padding:0;">
                                		<ul class="pricing-table" style="margin:0;">
                                 	      		<li class="price" style="padding:10 0 5 0;"><h4>$i2242.34-$2234.43</h4></li>
                                   			<li class="bullet-item" style="padding:8;">Security Deposit: $300</li>
							<li class="description" style="padding:8;">4 bedroom / 3.5 bathroom</li>
							<li class="description" style="padding:8;">Campus Distance: 2 mi</li>
                                        		<li class="cta-button" style="padding:0;border:2;"><a class="button expand" style="margin:0;">Check Availablity</a></li>
                               			</ul>
			        	</div>
				</div>
                        </div>                 
