                                <div class="large-4 medium-11 large-centered medium-centered columns panel" style="padding:0;">
                                  <div class="row" style="background-color:#d1d1d1; margin:0;">
                                       <div class="row">
					            	<div class="large-12 medium-12 large-text-center medium-text-center columns">                        
                                                          <h4 id="property" style="padding-top:5px;">The Heights of Slippery Rock</h4>                                                             
                                                        </div>
							<div class="large-4 show-for-large-up large-text-center columns">
                                                 		<i style="color:yellow;" class="fi-star"></i>
                                                 		<i style="color:white;" class="fi-star"></i>
                                                		<i style="color:white;" class="fi-star"></i>
                                             			<i style="color:white;" class="fi-star"></i>
                                              			<i style="color:white;" class="fi-star"></i>
                                                 		<i style="color:yellow;font-size:14px;">&#40;<i id="ratingCount"></i>&#41;</i>                                    
							</div>
							 
					</div>
					<div class="row"> 
							<div class="large-12 large-text-centered medium-text-center hide-for-large-up columns">
                               	                		<h6 style="padding-top:5px;"><i id="address"></i>, <i id="state"></i> <i id="zip"></i></h6> 
							</div>
                                        </div>          
				  </div>
                                       <div class="row">
                                       	 <div class="large-12 medium-4 large-text-center columns">
						<div class="row">
							<div class="large-6 columns">
                                       	         <a class="th radius" role="button" aria-label="Label" href="">
                                                        <img src="http://placehold.it/300x300"/>
                                                 </a> 
							</div>
							<div class="large-6 columns">
                                       	         <a class="th radius" role="button" aria-label="Label" href="">
                                                        <img src="http://placehold.it/300x300"/>
                                                 </a> 
							</div>

						</div>
                                       	 <div class="row">
                                                <ul class="pricing-table">
                                                        <li class="price" style="padding-left:0; padding-right:0;">
                                                                <h4><i id="rentLow" class="fi-dollar"></i>-<i id="rentHigh" class="fi-dollar"></i></h4>                     
                                                        </li>
                                                        <li class="description">
                                                               <b id="bedrooms">4</b>&nbsp;bed&nbsp;-&nbsp;<b id="bathrooms">4.5</b>&nbsp;bath
                                                        </li>
                                                        <li id="phone" class="bullet-item">###-###-####</li>
                                                        <li class="cta-button" style="padding-top:10px;">
                                                                <a class="button" href="#">Check Availability</a>
                                                        </li>
                                                </ul>
							<i>Campus Distance: 2 Miles</i>
                                       	 </div>
					</div>
					<div class="row">
						<table>
								<tr>
									<td>Cable/Internet</td>
									<td><i class="fi-check"></i></td>
									<td>FIOS</td>
									<td><i class="fi-check"></i></td>

								</tr>
								<tr>
									<td>Onsite Laundry</td>
									<td><i class="fi-check"></i></td>
									<td>Parking</td>
									<td><i class="fi-check"></i></td>
							
								</tr>
								<tr>

									<td>Furnished</td>
									<td><i class="fi-check"></i></td>
									<td>Security</td>
									<td><i class="fi-check"></i></td>
								</tr>
								<tr>
									<td>Washer/Dryer</td>
									<td><i class="fi-check"></i></td>
									<td>Storage</td>
									<td><i class="fi-check"></i></td>
								</tr>

						</table>
						</div>
                                </div>    
