<div class="large-11 medium-11 large-centered medium-centered columns panel" style="padding:0;">
  <div class="row">
	<div class="large-8 columns">
		<div class="row" style="background-color:#d1d1d1;">
				<h4 class="large-text-center" id="property">The Heights of Slippery Rock</h4>                                                             
		</div>
		<div class="row">
			<div class="large-3 columns">
				<a class="th radius" role="button" aria-label="Label" href="">
					<img src="http://placehold.it/300x300"/>
				</a> 
			</div>          	
			<div class="large-10 columns">
					##### Test Test Test Lane, Pennsylvania #####
			   <table>
                                                                <tr>
                                                                        <td>Cable/Internet</td>
                                                                        <td><i class="fi-check"></i></td>
                                                                        <td>FIOS</td>
                                                                        <td><i class="fi-check"></i></td>

                                                                </tr>
                                                                <tr>
                                                                        <td>Onsite Laundry</td>
                                                                        <td><i class="fi-check"></i></td>
                                                                        <td>Parking</td>
                                                                        <td><i class="fi-check"></i></td>

                                                                </tr>
                                                                <tr>

                                                                        <td>Furnished</td>
                                                                        <td><i class="fi-check"></i></td>
                                                                        <td>Security</td>
                                                                        <td><i class="fi-check"></i></td>
                                                                </tr>
                                                                <tr>
                                                                        <td>Washer/Dryer</td>
                                                                        <td><i class="fi-check"></i></td>
                                                                        <td>Storage</td>
                                                                        <td><i class="fi-check"></i></td>
                                                                </tr>

                                                </table>		
			</div>   
		</div>
	</div>
	<div class="large-4 columns" style="padding:0;">
				<ul class="pricing-table" style="margin:0;">
					<li class="price" style="padding:0;"><h4>$242.34-$234.43</h4></li>
					<li class="description" style="padding:7.5;">4 bedroom / 3.5 bathroom</li>
					<li class="bullet-item" style="padding:7.5;">###-###-####</li>
					<li class="cta-button" style="padding:0;border:2;"><a class="button expand" style="margin:0;">Check Availablity</a></li>

				</ul>
	</div>
  </div>


