<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title class="title">OffHousing | Welcome</title>
    <link rel="stylesheet" href="/foundation.css" />
    <link rel="stylesheet" href="/custom.css" />
    <link rel="stylesheet" href="/foundation-icons/foundation-icons.css" />
    <script src="/vendor/modernizr.js"></script>
  </head>
  <body>
<div class="fixed" style="z-index:1009;">
	<nav class="top-bar" data-topbar role="navigation">
		<ul class="title-area">
			<a class="item" href="#"><img src="http://placehold.it/150x45" /></a>
			<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
		</ul>
		<section id="top-bar" class="top-bar-section">
			<ul class="left">
				<li class="divider"></li>
				<li class="has-dropdown">
					<a href="#">Pennsylvania</a>
					<ul class="dropdown">
						<li><a href="#">New York</a></li>
						<li><a href="#">Virginia</a></li>
						<li><a href="#">Maryland</a></li>
						<li><a href="#">Ohio</a></li>
						<li><a href="#">West Virginia</a></li>
					</ul>
				</li>
				<li class="divider"></li>
				<li class="has-dropdown active">
					<a href="#">Slippery Rock University</a>
					<ul class="dropdown">
						<li><a href="#">Penn State University</a></li>
						<li><a href="#">Pittsburgh University</a></li>
						<li><a href="#">Carniege Mellon University</a></li>
					</ul>
				</li>
				<li class="divider"></li>
			</ul>	
		</section>
	</nav>
</div>
<aside id="menu" class="left-off-canvas-menu" >
				<form>
				    <div class="row">
					<i style="color:white;">I am looking for:</i>
					<div class="icon-bar three-up">
						<a class="item" style="padding-top:5; padding-bottom:5;">
							<i class="fi-home"></i>
							<label>house</label>
						</a>
						<a class="item" style="padding-top:5; padding-bottom:5;">
							<i class="fi-die-six"></i>
							<label>apartment</label>
						</a>
						<a class="item" style="padding-top:5; padding-bottom: 5;">
							<i class="fi-key"></i>
							<label>room</label>
						</a>
					</div>
				    </div>
				    <div class="row">
					<dl class="accordion" data-accordion>
						<dd class="accordion-navigation">
							<a href="#prices"><i class="fi-plus"> &nbsp; Price Range</i></a>
							<div id="prices" class="content">
								<div class="row">
						     			<div class="small-4 columns">
										<fieldset class="switch" tabindex="0" style="margin:0px;">
											<input id="allprice" type="checkbox">
									       	 	<label for="allprice"></label>
										</fieldset>
									</div>
									<div class="small-8 columns">	
										<h6>All</h6>
									</div>
								</div>

								<div class="row">
						     			<div class="small-4 columns">
										<fieldset class="switch" tabindex="0" style="margin:0px;">
											<input id="oneprice" type="checkbox">
									       	 	<label for="oneprice"></label>
										</fieldset>
									</div>
									<div class="small-8 columns">	
										<h6>Up to $500</h6>
									</div>
								</div>
								<div class="row">
						     			<div class="small-4 columns">
										<fieldset class="switch" tabindex="0" style="margin:0px;">
											<input id="onetwoprice" type="checkbox">
									       	 	<label for="onetwoprice"></label>
										</fieldset>
									</div>
									<div class="small-8 columns">	
										<h6>$501-$750</h6>
									</div>
								</div>
								<div class="row">
						     			<div class="small-4 columns">
										<fieldset class="switch" tabindex="0" style="margin:0px;">
											<input id="twoprice" type="checkbox">
									       	 	<label for="twoprice"></label>
										</fieldset>
									</div>
									<div class="small-8 columns">	
										<h6>$751-$1,000</h6>
									</div>
								</div>
								<div class="row">
						     			<div class="small-2 columns">
										<fieldset class="switch" tabindex="0" style="margin:0px;">
											<input id="threeprice" type="checkbox">
									       	 	<label for="threeprice"></label>
										</fieldset>
									</div>
									<div class="small-8 columns">	
										<h6>$1,001-$1,250</h6>
									</div>
								</div>
								<div class="row">
						     			<div class="small-4 columns">
										<fieldset class="switch" tabindex="0" style="margin:0px;">
											<input id="fourprice" type="checkbox">
									       	 	<label for="fourprice"></label>
										</fieldset>
									</div>
									<div class="small-8 columns">	
										<h6>$1,251-$1,500</h6>
									</div>
								</div>
								<div class="row">
						     			<div class="small-4 columns">
										<fieldset class="switch" tabindex="0" style="margin:0px;">
											<input id="fiveprice" type="checkbox">
									       	 	<label for="fiveprice"></label>
										</fieldset>
									</div>
									<div class="small-8 columns">	
										<h6>$1,501-$2,000</h6>
									</div>
								</div>
								<div class="row">
						     			<div class="small-4 columns">
										<fieldset class="switch" tabindex="0" style="margin:0px;">
											<input id="sixprice" type="checkbox">
									       	 	<label for="sixprice"></label>
										</fieldset>
									</div>
									<div class="small-8 columns">	
										<h6>$2,001-$2,500</h6>
									</div>
								</div>
								<div class="row">
						     			<div class="small-4 columns">
										<fieldset class="switch" tabindex="0" style="margin:0px;">
											<input id="sevenprice" type="checkbox">
									       	 	<label for="sevenprice"></label>
										</fieldset>
									</div>
									<div class="small-8 columns">	
										<h6>$2,501-$3,000</h6>
									</div>
								</div>
								<div class="row">
						     			<div class="small-4 columns">
										<fieldset class="switch" tabindex="0" style="margin:0px;">
											<input id="eightprice" type="checkbox">
									       	 	<label for="eightprice"></label>
										</fieldset>
									</div>
									<div class="small-8 columns">	
										<h6>$3,000+</h6>
									</div>
								</div>

							</div>
						</dd>
					</dl>
				    </div>	
						<hr style="border-color:grey;margin-left:20px; margin-right:20px;">
					
						<!-- TODO ARIA Tab index for switches-->
					<div class="row">
						<div class="small-4 columns">
							<fieldset class="switch" tabindex="0" style="margin:0px;">
								<input id="dogcheck" type="checkbox">
								<label for="dogcheck"></label>
							</fieldset>
						</div>
						<div class="small-8 columns">	
							<h5 style="color:white;">dog friendly</h5>
						</div>
					</div>
				
					<div class="row">
						<div class="small-4 columns">
							<fieldset class="switch" tabindex="0" style="margin:0px;">
								<input id="catcheck" type="checkbox">
								<label for="catcheck"></label>
							</fieldset>
						</div>
						<div class="small-8 columns">	
							<h5 style="color:white;">cat friendly</h5>
						</div>
					</div>

						<hr style="border-color:grey;margin-left:20px; margin-right:20px;">
			
					<div class="row">
						<div class="large-12 columns">
							<select>
								<option value="1">all bedrooms</option>
								<option value="1">+1 bedrooms</option>
								<option value="1">+2 bedrooms</option>
								<option value="1">+3 bedrooms</option>
								<option value="1">+4 bedrooms</option>
								<option value="1">+5 bedrooms</option>
								<option value="1">+6 bedrooms</option>
								<option value="1">+7 bedrooms</option>
								<option value="1">+8 bedrooms</option>
							</select>
						</div>
					</div>	

					<div class="row">
						<div class="large-12 columns">
							<select style="margin-bottom:0;">
								<option value="1">all bathrooms</option>
								<option value="1">+1 bathrooms</option>
								<option value="1">+2 bathrooms</option>
								<option value="1">+3 bathrooms</option>
								<option value="1">+4 bathrooms</option>
								<option value="1">+5 bathrooms</option>
								<option value="1">+6 bathrooms</option>
								<option value="1">+7 bathrooms</option>
								<option value="1">+8 bathrooms</option>
							</select>
						</div>
					</div>	

					<hr style="border-color:grey;margin-left:20px; margin-right:20px;">
					
					<div class="row">
						<div class="small-7 columns" style="padding-left:10px;padding-right:0;padding-top:7px;"><h6 style="margin-top:0;"><i style="color:white;font-size:11pt;">Campus Distance: </i></h6></div>
						<div class="small-5 columns" style="padding-left:0; color:white;font-size:14pt;"><i>&lt;&nbsp;</i><b style="font-size:18pt;"><span id="distanceOutput"> </span></b><i style="font-size:8pt;">&nbsp; Miles</i></div>
					</div>
					<div class="range-slider" data-slider data-options="display_selector: #distanceOutput;">
						<span class="range-slider-handle" role="" tabindex="0"></span>
						<span class="range-slider-active-segment"></span>
						<input type="hidden">
					</div>

					<hr style="border-color:grey;margin-left:20px; margin-right:20px;">
					
					<dl class="accordion" data-accordion>
						<dd class="accordion-navigation">
							<a id="features" href="#features"><i class="fi-plus"> &nbsp; Features</i></a>
							<div id="features" class="content" style="background-color:#555555;">
								<div class="row">
						     			<div class="small-4 columns">
										<fieldset class="switch" tabindex="0" style="margin:0px;">
											<input id="F1" type="checkbox">
									       	 	<label for="F1"></label>
										</fieldset>
									</div>
									<div class="small-8 columns">	
										<h5>Cable / Internet</h5>
									</div>
								</div>

								<div class="row">
						     			<div class="small-4 columns">
										<fieldset class="switch" tabindex="0" style="margin:0px;">
											<input id="F2" type="checkbox">
									       	 	<label for="F2"></label>
										</fieldset>
									</div>
									<div class="small-8 columns">	
										<h5>FIOS Internet</h5>
									</div>
								</div>
								<div class="row">
						     			<div class="small-4 columns">
										<fieldset class="switch" tabindex="0" style="margin:0px;">
											<input id="F3" type="checkbox"  >
									       	 	<label for="F3"></label>
										</fieldset>
									</div>
									<div class="small-8 columns">	
										<h5>Security</h5>
									</div>
								</div>
								<div class="row">
						     			<div class="small-4 columns">
										<fieldset class="switch" tabindex="0" style="margin:0px;">
											<input id="F4" type="checkbox">
									       	 	<label for="F4"></label>
										</fieldset>
									</div>
									<div class="small-8 columns">	
										<h5>On-Site Laundry</h5>
									</div>
								</div>
								<div class="row">
						     			<div class="small-4 columns">
										<fieldset class="switch" tabindex="0" style="margin:0px;">
											<input id="F5" type="checkbox">
									       	 	<label for="F5"></label>
										</fieldset>
									</div>
									<div class="small-8 columns">	
										<h5>Washer/Dryer</h5>
									</div>
								</div>
								<div class="row">
						     			<div class="small-4 columns">
										<fieldset class="switch" tabindex="0" style="margin:0px;">
											<input id="F6" type="checkbox">
									       	 	<label for="F6"></label>
										</fieldset>
									</div>
									<div class="small-8 columns">	
										<h5>Parking</h5>
									</div>
								</div>
								<div class="row">
						     			<div class="small-4 columns">
										<fieldset class="switch" tabindex="0" style="margin:0px;">
											<input id="F7" type="checkbox">
									       	 	<label for="F7"></label>
										</fieldset>
									</div>
									<div class="small-8 columns">	
										<h5>Storage</h5>
									</div>
								</div>
								<div class="row">
						     			<div class="small-4 columns">
										<fieldset class="switch" tabindex="0" style="margin:0px;">
											<input id="F8" type="checkbox">
									       	 	<label for="F8"></label>
										</fieldset>
									</div>
									<div class="small-8 columns">	
										<h5>Furnished</h5>
									</div>
								</div>
							</div>
						</dd>
					</dl>
					<hr style="border-color:grey;margin-left:20px; margin-right:20px;">
				</form>

</aside>
		<a class="item left-off-canvas-toggle"><div id="side-hide" class="inner-wrap-button"><div class="icon-bar one-up" style="width:30px;background:#008cba;color:#333333;"><i id="nav-arrow" class="fi-arrow-left" style="padding-left:10px;"></i></div></div></a>
	<div style="float:right; overflow-x:hidden; ">
		<section id= "wrapper" class="main-section">
			<div class="row">
				<img src="/sru.jpg" style="width:100%; height:130px;z-index:10;" />
				<div class="large-4 medium-6 columns"  style="position:absolute; top:45; right:0; float:right; height:130px;background-color: rgb(92,92,92);background-color:rgba(92,92,92,0.7);">	
					<h4 class="text-center" style="padding-top:15px;color:white;">Slippery Rock University, PA</h4>
					<h6 class="text-center" style="color:white;">89 Off Campus  Apartment and House Listings</h6>
				</div>
			</div>	
	
			<div class="row" style="background-color:#f2f2f2; margin-bottom:5px;">
				<div class="large-10 columns">
					Filters:
					<span class="secondary label">All Listings</span>
					&gt;
					<span class="secondary label">All Prices</span>
					&gt;
					<span class="secondary label">All Pets</span>
					&gt;
					<span class="secondary label">All Bedrooms</span>
					&gt;
					<span class="secondary label">All Bathrooms</span>
					&gt;
					<span class="secondary label">All Distances</span>
					&gt;
					<span class="secondary label">All Features</span>
				</div>		
				<div class=""></div>	
			</div>

			<div  class="listing_wrapper"></div>
			
		</section>
	</div><!-- End Inner Wrap -->

    <script src="/vendor/jquery.js"></script>
    <script src="/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script>
	var wrapper_set = function(off){
		if($(window).width() / parseFloat($("body").css("font-size")) >= 40.063 ){
			$('#wrapper').css("width", $(window).width() - off);
		}else{
			$('#wrapper').css("width", "");
		}
		var map_width = $('#mapC').width();
		if( map_width < 905 && map_width >= 710){
			$('.big-table').attr('class', 'base-table');
			$('#pic1').attr('class', 'th');
			$('#pic2').attr('class', 'th hide');
			$('#pic3').attr('class', 'th hide');
			$('#pic4').attr('class', 'th hide');
		}else if(map_width < 1112 && map_width >= 905){
			if(map_width >= 950){
				$('.base-table').attr('class', 'big-table');
			}else{
			$('.big-table').attr('class', 'base-table');
			}	
			$('#pic1').attr('class', 'th');
			$('#pic2').attr('class', 'th');
			$('#pic3').attr('class', 'th hide');
			$('#pic4').attr('class', 'th hide');
		}else if(map_width < 1354 && map_width >= 1113){
			if(map_width >= 1150){
				$('.base-table').attr('class', 'big-table');
			}else{
			$('.big-table').attr('class', 'base-table');
			}	
			$('#pic2').attr('class', 'th');
			$('#pic2').attr('class', 'th');
			$('#pic3').attr('class', 'th');
			$('#pic4').attr('class', 'th hide');
		}else if(map_width >= 1354) {

			$('#pic1').attr('class', 'th');
			$('#pic2').attr('class', 'th');
			$('#pic3').attr('class', 'th');
			$('#pic4').attr('class', 'th');
		}else{
			$('#pic1').attr('class', 'th hide');
			$('#pic2').attr('class', 'th hide');
			$('#pic3').attr('class', 'th hide');
			$('#pic4').attr('class', 'th hide');
		}
	};
	$(document).ready(function(){
		wrapper_set(288);

	});
	$(window).resize(function(){
		if(nav.stat == true){
			wrapper_set(288);
		}else{wrapper_set(0);}
	});
	var nav = {
		outy: function(){
			$('#nav-arrow').attr('class','fi-arrow-right');
			$('#side-hide').attr('class', 'inner-wrap-button-hidden');
			nav.stat = false;
			$('#menu').css('display', 'none');
			wrapper_set(0);
		},
		inny: function(){
			$('#nav-arrow').attr('class','fi-arrow-left');
			$('#side-hide').attr('class','inner-wrap-button');
			nav.stat = true;
			$('#menu').css('display', 'inline');
			wrapper_set(288);
		},
		stat: true 
	};
	$('.inner-wrap-button').click(function(){
		if($('#side-hide').hasClass('inner-wrap-button')){
			nav.outy();
			setTimeout(function(){
				$(document).foundation();
			}, 0);
			
		}else{
			nav.inny();
		}
	});
	
	$("#features").click(function(){
		console.log("clicked");
		setTimeout(function(){
			$("#menu").scrollTop($('#menu').height() * 4);		
		}, 0);
	});
	
    </script>
  </body>
</html>
