<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title class="title">OffHousing | Welcome</title>
    <link rel="stylesheet" href="/foundation.css" />
    <link rel="stylesheet" href="/custom.css" />
    <link rel="stylesheet" href="/foundation-icons/foundation-icons.css" />
    <script src="/vendor/modernizr.js"></script>
  </head>
  <body>
<div class="fixed" style="z-index:1009;">
	<nav class="top-bar" data-topbar role="navigation">
		<ul class="title-area">
			<a class="item" href="#"><img src="http://placehold.it/150x45" /></a>
			<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
		</ul>
		<section id="top-bar" class="top-bar-section">
			<ul class="left">
				<li class="divider"></li>
				<li class="has-dropdown">
					<a href="#">Pennsylvania</a>
					<ul class="dropdown">
						<li><a href="#">New York</a></li>
						<li><a href="#">Virginia</a></li>
						<li><a href="#">Maryland</a></li>
						<li><a href="#">Ohio</a></li>
						<li><a href="#">West Virginia</a></li>
					</ul>
				</li>
				<li class="divider"></li>
				<li class="has-dropdown active">
					<a href="#">Slippery Rock University</a>
					<ul class="dropdown">
						<li><a href="#">Penn State University</a></li>
						<li><a href="#">Pittsburgh University</a></li>
						<li><a href="#">Carniege Mellon University</a></li>
					</ul>
				</li>
				<li class="divider"></li>
			</ul>	
		</section>
	</nav>
</div>
<aside id="menu" class="left-off-canvas-menu">
	<div class="row" style="padding-top:15;">
		<div class="panel callout" style="margin-bottom:0;padding:5 20 0 20;;">
			<h5 class="subheader text-center">Check Availability</h5>
			<form>
				<div class="row">
					<div class="large-6 columns" style="padding-right:5;">
						<label>
							<input type="text" style="margin-bottom:5;" placeholder="First Name*"></input>
						</label>
					</div>
					<div class="large-6 columns" style="padding-left:5;">
						<label>
							<input type="text" style="margin-bottom:5;" placeholder="Last Name"></input>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="large-6 columns" style="padding-right:5;">
						<label>
							<input type="text" style="margin-bottom:5;" placeholder="Email*"></input>
						</label>
					</div>
					<div class="large-6 columns" style="padding-left:5;">
						<label>
							<input type="text" style="margin-bottom:5;"  placeholder="Phone #"></input>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
						<label>Move-in Date
							<select style="margin-bottom:5px;">
								<option>dropdown</option>
								<option>dropdown</option>
								<option>dropdown</option>
								<option>dropdown</option>
							</select>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
						<label>Message
							<textarea></textarea>
						</label>
					</div>
				</div>
				<div class="row">
					<a href="#" class="button expand" style="margin-bottom:10px;">Submit</a>
				</div>	
			</form>
		</div>
	</div>
	<hr style="border-color:grey;margin-left:20px; margin-right:20px;">
	<div id="favorite_wrapper">
		<i style="color:white;">Recently Viewed...</i>
		<div class="row" style="background-color:#efefef;">
			<div class="large-2 medium-2 small-2 columns" style="padding:0 5 0 5;">
				<img src="https://placehold.it/50x50"/>
			</div>
			<div class="large-10 medium-10 small-10 columns" style="padding:0 5 0 5;height:35px;">
				<i style="font-size:10pt;margin:auto;display:inline-block;">The Other Heights of Slippery Rock</i>
			</div>
		</div>

	</div>
	<hr style="border-color:grey;margin-left:20px; margin-right:20px;">
	<div class="like_wrapper">
		<i style="color:white;">You May Also Be Interested In...</i>
	</div>
</aside>
	<a class="item left-off-canvas-toggle"><div id="side-hide" class="inner-wrap-button"><div class="icon-bar one-up" style="width:30px;background:#008cba;color:#333333;"><i id="nav-arrow" class="fi-arrow-left" style="padding-left:10px;"></i></div></div></a>
	<div style="float:right; overflow-x:hidden; ">
		<section id= "wrapper" class="main-section">
		<div class="listing_wrapper">
			<div class="large-11 large-centered columns">
				<div class="row">
					<div class="large-12 columns"  style="background-color:#efefef;border-top-right-radius:10em; ">	
						<h3 class="text-center" style="padding-top:15px;">The Heights of Slippery Rock</h3>
						<h5 class="text-center" style="">1123 Some Place Ave, Slippery Rock, PA 14023</h5>
					</div>
				</div>
				<div class="row">
					<div class="large-10 columns">
						<div class="row">
							<div class="large-6 columns">
								<img src="http://placehold.it/300x300">
							</div>
							<div class="large-6 columns" style="height:300px;overflow-y:auto;">
								<h4 class="text-center">Description</h4>
								<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. </p>

							</div>
						</div>
						<hr>
						<div class="row">
							<h4>Pricing By Floor Plan</h4>
							<div class="panel">
								<div class="large-9 columns">
								
								</div>
								<div class="large-3 columns">

								</div>
							</div>
						</div>
					
					</div>
					<div class="large-2 medium-2 small-3 columns" style="background-color:#efefef;">
						<div class="row">
							<i class="fi-heart" style="font-size:40pt;"></i>
							<h4>Website</h4>
						</div>
						<div class="row">
							<i class="fi-telephone" style="font-size:40pt;"></i>
							<h4>Telephone</h4>
						</div>
						<div class="row">
							<i class="fi-web" style="font-size:40pt;"></i>
							<h4>Website</h4>
						</div>
						<div class="row">
							<i class="fi-social-facebook" style="font-size:40pt;"></i>
							<h4>Facebook</h4>
						</div>
						<div class="row">
							<i class="fi-heart" style="font-size:40pt;"></i>
							<h4>Website</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>
	</div><!-- End Inner Wrap -->

    <script src="/vendor/jquery.js"></script>
    <script src="/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script>
	var wrapper_set = function(off){
		if($(window).width() / parseFloat($("body").css("font-size")) >= 40.063 ){
			$('#wrapper').css("width", $(window).width() - off);
		}else{
			$('#wrapper').css("width", "");
		}
	};
	$(document).ready(function(){
		wrapper_set(288)

	});
	$(window).resize(function(){
		if(nav.stat == true){
			wrapper_set(288);
		}else{wrapper_set(0);}
	});
	var nav = {
		outy: function(){
			$('#nav-arrow').attr('class','fi-arrow-right');
			$('#side-hide').attr('class', 'inner-wrap-button-hidden');
			nav.stat = false;
			$('#menu').css('display', 'none');
			wrapper_set(0);
		},
		inny: function(){
			$('#nav-arrow').attr('class','fi-arrow-left');
			$('#side-hide').attr('class','inner-wrap-button');
			nav.stat = true;
			$('#menu').css('display', 'inline');
			wrapper_set(288);
		},
		stat: true 
	};
	$('.inner-wrap-button').click(function(){
		if($('#side-hide').hasClass('inner-wrap-button')){
			nav.outy();
			setTimeout(function(){
				$(document).foundation();
			}, 0);
			
		}else{
			nav.inny();
		}
	});
    </script>
  </body>
</html>
